.add-button{
  font-size: larger;
  padding: calc(12px*0.5625) 12px;
  border-radius: 40%;
  border-style: dashed;
  margin-top: 3px;
}
.row-header{
  display: grid;
  grid-template-columns: 40px 180px 90px 90px 90px 90px;
  justify-items: center;
  align-items: center;
  font-size: smaller;
}
.row-header td{
  font-weight: bold;
}
.row-body{
  display: grid;
  grid-template-columns: 220px 90px 90px 90px 90px;
  justify-items: center;
}
#fattot, #protot, #carbtot, #calstot{
  font-weight: bold;
  font-style: oblique;
}
.hr:hover{
  background-color: #33333a;
  color: white;
  border-radius: 15px;
}
@media (max-width: 575.98px) {

  .meal-table{
    display: block;
  }
  .row-header{
    display: grid;
    justify-items: center;
    grid-template-columns: 8% 32% 15% 15% 15% 15%;
    font-size: small;
  }
    .row-body{
    display: grid;
    grid-template-columns: 40% 15% 15% 15% 15%;
    font-size: small;
  }
}